---
layout: base
---

<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead">
      <div class="site-info-wrapper">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.avatar_alt }}" /></a>

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
          <h2 class="site-author">{{ site.author }}</h2>
          <p class="site-description">{{ site.bio }}</p>
        </div>
      </div>
      {% include 'nav.html' %}
    </header>
  </div>
</div>

<main id="main" class="main container">
  {{ content }}
</main>

<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      {% include 'svg-icons.html' %}
    </footer>
  </div>
</div>