---
layout: main
---

<article class="post">
  <h2>{{ title }}</h2>

  <div class="entry">
    <h3>Introductie</h3>
    {{ content }}
  </div>

  <div class="date">
    Written on {{ date | date: "%B %e, %Y" }}
  </div>

  {% include 'disqus.html' %}
</article>
