{% if site.footer-links.dribbble %}{% renderTemplate "enhance-html" %}<my-icon url="https://dribbble.com/{{ site.footer-links.dribbble }}" icon=dribbble></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.email %}{% renderTemplate "enhance-html" %}<my-icon url="mailto:{{ site.footer-links.email }}" icon=email></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.facebook %}{% renderTemplate "enhance-html" %}<my-icon url="https://www.facebook.com/{{ site.footer-links.facebook }}" icon=facebook></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.flickr %}{% renderTemplate "enhance-html" %}<my-icon url="https://www.flickr.com/{{ site.footer-links.flickr }}" icon=flickr></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.github %}{% renderTemplate "enhance-html" %}<my-icon url="https://github.com/{{ site.footer-links.github }}" icon=github></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.instagram %}{% renderTemplate "enhance-html" %}<my-icon url="https://instagram.com/{{ site.footer-links.instagram }}" icon=instagram></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.linkedin %}{% renderTemplate "enhance-html" %}<my-icon url="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" icon=linkedin></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.pinterest %}{% renderTemplate "enhance-html" %}<my-icon url="https://www.pinterest.com/{{ site.footer-links.pinterest }}" icon=pinterest></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.rss %}{% renderTemplate "enhance-html" %}<my-icon url="{{ site.baseurl }}/feed.xml" icon=rss></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.twitter %}{% renderTemplate "enhance-html" %}<my-icon url="https://www.twitter.com/{{ site.footer-links.twitter }}" icon=twitter></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.stackoverflow %}{% renderTemplate "enhance-html" %}<my-icon url="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" icon=stackoverflow></my-icon>{% endrenderTemplate %}{% endif %}
{% if site.footer-links.youtube %}{% renderTemplate "enhance-html" %}<my-icon url="https://youtube.com/{{ site.footer-links.youtube }}" icon=youtube></my-icon>{% endrenderTemplate %}{% endif %}