---
layout: base
---
<main id="main" class="main container">
	<h1 lang="en-UK">Privacy Statement Peg Solitaire app (PegSol)</h1>
	<div lang="en-UK" class="privacy-policy__container">
		<h2>Data Collection and use</h2>
		<p>The PegSol game app doesn't collect any data personal or otherwise.</p>
		<p>Personal data belonging to users of the game PegSol, the Peg Solitaire app, will be safe at all times because the app does not register or retain any data whatsoever. Therefor it is fully compliant with Regulation (EU 2016/679) on the protection of natural persons with regard to the processing of personal data and on the free movement of such data.</p>	
		<h2>Changes to the Privacy Statement</h2>
		<p>The app-developer reserves the right to change this privacy statement. Last changed on september 1 2022.</p>
	</div>
	<div class="privacy-policy__container">
		<h2>Verwerking persoonsgegevens</h2>
		<p>De app PegSol registreerd op dit moment geen enkel gegeven, dus ook geen persoonsgegevens.</p>
		<p>Persoonlijke gegevens van gebruikers van PegSol, de Peg Solitaire app, zijn ten alle tijden veilig omdat deze app niets registreert of bewaart. Hiermee wordt in alle gevallen aan de eisen die de Algemene Verordening Gegevensbescherming (EU 2016/679) stelt voldaan.</p>	
		<h2>Wijzigen Privacy Statement</h2>
		<p>De maker van de app behoudt zich het recht voor om wijzigingen aan te brengen in dit privacy statement. Laatste aanpassing is gedaan op 1 september 2022.</p>
	</div>
</main>
