/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*
Global style file. This file is supposed to stay very lean.

If you find the urge to put common styles for common elements 
here (e.g. buttons, inputs or links), then resist that urge,
and make simple lightweight React components for them instead
(and put the styles in a .styl file for that component).
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
#hello {
  height: 100%;
}
body {
  min-height: 100%;
  max-height: 100%;
  height: inherit;
  background: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
  overflow-y: hidden;
}
small {
  font-size: 0.8em;
}
.f-smaller {
  font-size: 0.74em;
}
svg {
  fill: currentColor;
}
input:focus {
  outline: none !important;
}
/*** Typography ***/
.error-box {
  color: #d11;
  background: #fff4f4;
  border-radius: 4px;
  border: 1px solid #fcc;
  padding: 10px;
  margin: 8px 0px;
}
/*** responsive ***/
@media all and (max-width: 640px) {
  .mobile-hidden {
    display: none;
  }
}
@media not all and (max-width: 640px) {
  .mobile-only {
    display: none;
  }
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
code {
  font-family: "Cascadia Code", "Droid Sans Mono", "Menlo", "Consolas", "Lucida Console", "Monaco", monospace;
  font-variant-ligatures: none;
}
.mb-sm {
  margin-bottom: 4px;
}
.scrollbar-never-visible .pretty-scrollbars {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars {
  scrollbar-color: rgba(0,0,0,0.2) transparent;
  scrollbar-width: thin;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars:hover {
  scrollbar-color: rgba(0,0,0,0.4) transparent;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars:active {
  scrollbar-color: rgba(0,0,0,0.6) transparent;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars::-webkit-scrollbar-track {
  background: transparent;
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}
html.has-visible-scrollbar[data-color-scheme="light"] .pretty-scrollbars::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,0,0.6);
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars {
  scrollbar-color: rgba(255,255,255,0.2) transparent;
  scrollbar-width: thin;
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars:hover {
  scrollbar-color: rgba(255,255,255,0.4) transparent;
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars:active {
  scrollbar-color: rgba(255,255,255,0.6) transparent;
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars::-webkit-scrollbar-track {
  background: transparent;
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.4);
}
html.has-visible-scrollbar[data-color-scheme="dark"] .pretty-scrollbars::-webkit-scrollbar-thumb:active {
  background: rgba(255,255,255,0.6);
}

.View {
  width: 100%;
  height: 100%;
  position: relative;
}
.View.is-widget {
  padding-left: 20px;
}

.Icon {
  vertical-align: middle;
  overflow: hidden;
  height: auto;
}
html[dir="rtl"] .Icon.mirror-when-rtl {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.Link .Icon {
  margin-right: 0.25rem;
}
.ConversationListItem__message .Icon {
  margin-left: -1px;
}

.Emoji {
  height: 1.15rem;
  width: 1.15rem;
  margin: 0 0.1rem 0.1rem 0.1rem;
  vertical-align: middle;
}

.mention {
  display: inline;
}
.mention .mention-text {
  line-height: 1.5;
  color: inherit;
  margin: 0;
  border-radius: 9999px;
  padding: 0.25rem 0.45rem;
}
.mention .mention-text.mention-highlight {
  font-weight: bold;
}
html[data-color-scheme='light'] div[class^="ReplyBar"] .mention .mention-text {
  background-color: rgba(200,200,200,0.5);
}
html[data-color-scheme='light'] div[class^="ReplyBar"] .mention .mention-text.mention-highlight {
  background-color: rgba(200,200,200,0.9);
}
html[data-color-scheme='dark'] div[class^="ReplyBar"] .mention .mention-text {
  background-color: rgba(150,150,150,0.4);
}
html[data-color-scheme='dark'] div[class^="ReplyBar"] .mention .mention-text.mention-highlight {
  background-color: rgba(150,150,150,0.8);
}
.UserMessage__by-me .mention .mention-text {
  background-color: rgba(255,255,255,0.2);
}
.UserMessage__by-me .mention .mention-text.mention-highlight {
  background-color: rgba(255,255,255,0.4);
}
html[data-color-scheme='light'] .UserMessage__by-other .mention .mention-text {
  background-color: rgba(220,220,220,0.5);
}
html[data-color-scheme='light'] .UserMessage__by-other .mention .mention-text.mention-highlight {
  background-color: rgba(220,220,220,0.9);
}
html[data-color-scheme='dark'] .UserMessage__by-other .mention .mention-text {
  background-color: rgba(150,150,150,0.5);
}
html[data-color-scheme='dark'] .UserMessage__by-other .mention .mention-text.mention-highlight {
  background-color: rgba(150,150,150,0.9);
}

.Inbox,
.Inbox>.hub-underlay {
  width: 100%;
  height: 100%;
}
.Inbox>.hub-underlay {
  position: fixed;
  left: 0;
  top: 0;
}
.Inbox .center-stage {
  margin: 0 auto;
  height: 100%;
}
.Inbox .chat-container,
.Inbox .hub-container {
  max-height: 100%;
  vertical-align: top;
}
.Inbox .chat-container {
  height: 100%;
}
.Inbox .hub-container {
  height: 100%;
}
.Inbox .chat-container {
  min-width: 270px;
}
.Inbox .empty-chat {
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
.Inbox .empty-chat .Pinboard p {
  padding: 1ex 3ex;
  color: #888;
}
.Inbox .empty-chat .Pinboard h1 {
  font-size: 200%;
  font-style: bold;
  margin: 15px;
}
.Inbox .empty-chat .Pinboard img {
  width: 100%;
  padding: 15px;
}
@media all and (max-width: 640px) {
  .Inbox.mobile-prefer-chat .hub-underlay,
  .Inbox.chat-only .hub-underlay,
  .Inbox.mobile-prefer-chat .hub-container,
  .Inbox.chat-only .hub-container {
    display: none;
  }
  .Inbox.mobile-prefer-hub .chat-container {
    display: none;
  }
}
@media not all and (max-width: 640px) {
  .Inbox.chat-only .hub-underlay,
  .Inbox.chat-only .hub-container {
    display: none;
  }
  .Inbox:not(.chat-only) .center-stage {
    overflow-x: visible;
    white-space: nowrap;
  }
  .Inbox:not(.chat-only) .chat-container,
  .Inbox:not(.chat-only) .hub-container {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }
  .Inbox:not(.chat-only) .center-stage {
    overflow-x: visible;
    white-space: nowrap;
  }
  .Inbox:not(.chat-only) .hub-container {
    padding-top: 0px;
  }
}
.is-popover .Inbox .center-stage {
  max-width: 100%;
}

.ChatBox {
  margin: 0 0 0 0;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.ChatBox>.Dropzone,
.ChatBox>.AttachOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.ChatBox>.tokenRefreshFailed {
  filter: blur(0.1rem) contrast(25%) brightness(150%);
}
@media all and (max-width: 420px) {
  .ChatBox {
    max-width: 100%;
    max-width: 100vw;
  }
}
.is-widget .ChatBox {
  height: calc(100vh - 25px);
  width: calc(100% - 25px);
}
.ChatBox .is-popover {
  width: 100%;
}
.ChatBox .offline {
  text-align: center;
  padding: 20px 0;
}
.ChatBox .inbox-link-panel {
  margin-bottom: 10px;
}
.ChatBox .message-panel {
  max-width: 100%;
  height: 100%;
  padding: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: hidden;
}
.ChatBox .message-panel .Scrollable {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.ChatBox .message-panel .Scrollable > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.ChatBox .message-panel > .MessageField {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.ChatBox .left-button {
  text-decoration: none;
  color: $text-color;
}
.ChatBox .left-button .Panel {
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.ChatBox .left-button .Panel img {
  width: 0.55rem;
  height: auto;
  margin-right: 0.75rem;
  filter: invert(60%);
}
.ChatBox .left-button .Panel .dot {
  margin: 2px 0 0 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.ChatBox .picker-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.ChatBox .reaction-picker {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-55%);
  -moz-transform: translateY(-55%);
  -o-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
}
.ChatBox .reaction-picker .EmojiPicker {
  border: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  z-index: 10;
}
.ChatBox .reaction-picker .title-bar {
  background: #fff;
  padding: 0.35rem 0.5rem 0;
  border: 0px solid #b5c0c6;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  text-align: right;
  border-bottom: 0;
  margin-bottom: -1px;
}
.ChatBox .reaction-picker .title-bar .close-button {
  display: inline-block;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 0.5rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
.ChatBox .reaction-picker .title-bar .close-button:active,
.ChatBox .reaction-picker .title-bar .close-button:hover,
.ChatBox .reaction-picker .title-bar .close-button:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.ChatBox .reaction-picker .title-bar .close-button:hover {
  background-color: #e8ecee;
}
.ChatBox .reaction-picker .title-bar .close-button .Icon {
  width: 2rem;
  height: 2rem;
  color: #737373;
}
.ChatBox .reaction-picker .title-bar.dark {
  background: #222;
}
.ChatBox .reaction-picker .title-bar.dark .close-button:hover {
  background-color: #404040;
}
.ChatBox .reaction-picker .title-bar.dark .close-button .Icon {
  color: #f7f7f7;
}
.ChatBox .MountingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ChatBox .TokenRefreshFailedOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.ChatBox .TokenRefreshFailedOverlay .errorTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.ChatBox .TokenRefreshFailedOverlay .errorDesc {
  text-align: center;
  font-size: 1.2rem;
}

.ActionLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  word-spacing: inherit;
  outline: none;
  color: inherit;
}

@-webkit-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes three-quarters {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Styles for old versions of IE */
.Spinner {
  display: inline-block;
}

/* :not(:required) hides this rule from IE9 and below */
.Spinner:not(:required) {
  -webkit-animation: three-quarters 1250ms infinite linear;
  -moz-animation: three-quarters 1250ms infinite linear;
  -ms-animation: three-quarters 1250ms infinite linear;
  -o-animation: three-quarters 1250ms infinite linear;
  animation: three-quarters 1250ms infinite linear;
  border-width: 1.6px;
  border-style: solid;
  /* from theme: border-color: white; */
  /* border-right-color: transparent; */
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 8px;
  height: 8px;
}

.MessageTicks--read {
  letter-spacing: -0.3rem;
}

/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-menu-button: 1;
}

[data-reach-menu] {
  position: relative;
}

[data-reach-menu-popover] {
  display: block;
  position: absolute;
}

[data-reach-menu-popover][hidden] {
  display: none;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  display: block;
  white-space: nowrap;
  border: solid 1px hsla(0, 0%, 0%, 0.25);
  background: hsla(0, 100%, 100%, 0.99);
  outline: none;
  padding: 1rem 0;
  font-size: 85%;
}

[data-reach-menu-item] {
  display: block;
  user-select: none;
}

/*
 The dom structure of a MenuLink is reach-menu-item > a,
 so to target all items we can use `data-reach-menu-item`
*/
[data-reach-menu-item] {
  /*
    These are styled in one rule instead of something like a[data-reach-menu-item]
    and li[data-reach-menu-item] so that apps don't have to fight specificity and
    can style both li and a menu items with one rule,
    ie: `[data-selected] { background: red; }`.
    Otherwise they'd have to define two styles, one for a and one for li.
  */

  /* reach-menu-item */
  cursor: pointer;

  /* a */
  display: block;
  color: inherit;
  font: inherit;
  text-decoration: initial;

  /* both */
  padding: 5px 20px;
}

/* pseudo pseudo selector */
[data-reach-menu-item][data-selected] {
  background: hsl(211, 81%, 36%);
  color: white;
  outline: none;
}

[data-reach-menu-item][aria-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-reach-popover] {
  z-index: 999999999;
}
[data-reach-menu-items] {
  padding: 0.35rem;
  font-size: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
[data-reach-menu-item] {
  padding: 0.45rem 0.65rem;
}
.message-add-emoji-reaction .Icon {
  width: 1.5em;
  height: 1.5em;
}

.LinkPreview {
  margin-top: 1rem;
  border-radius: 0;
  overflow: hidden;
}

.ButtonIcon {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 0;
  border-radius: 9999px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: transparent;
  color: currentColor;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -webkit-transition: 150ms ease-out;
  -moz-transition: 150ms ease-out;
  -o-transition: 150ms ease-out;
  -ms-transition: 150ms ease-out;
  transition: 150ms ease-out;
}
.ButtonIcon.record-button {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ButtonIcon:hover,
.ButtonIcon:focus {
  background-color: rgba(38,38,38,0.05);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.ButtonIcon:focus-visible {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(0,125,249,0.5);
  box-shadow: 0 0 0 2px rgba(0,125,249,0.5);
}
.ButtonIcon[disabled].ButtonIcon[disabled] {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}

.Editor {
  position: relative;
}
.Editor span[data-emoji] {
  display: inline-block;
}
.Editor span[data-mention-id] {
  color: #1e60e1;
}
.Editor .empty-node::before {
  position: absolute;
  color: currentColor;
  cursor: text;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.Editor .empty-node:first-child::before {
  content: attr(data-placeholder);
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

/* See https://github.com/ProseMirror/prosemirror/issues/1421#issuecomment-1759320191 */
.ProseMirror [draggable][contenteditable=false] { user-select: text }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
  display: inline !important;
  border: none !important;
  margin: 0 !important;
}

.MessageField__emoji-suggest-bar {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 150ms ease-out;
  -moz-transition: -moz-transform 150ms ease-out;
  -o-transition: -o-transform 150ms ease-out;
  -ms-transition: -ms-transform 150ms ease-out;
  transition: transform 150ms ease-out;
}
.MessageField__emoji-suggest-bar.slide-enter {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}
.MessageField__emoji-suggest-bar.slide-enter-active,
.MessageField__emoji-suggest-bar.slide-enter-done,
.MessageField__emoji-suggest-bar.slide-exit {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.MessageField__emoji-suggest-bar.slide-exit-active,
.MessageField__emoji-suggest-bar.slide-exit-done {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.EmojiPicker {
  height: 0;
  width: 100%;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.EmojiPicker.slide-enter-active,
.EmojiPicker.slide-enter-done,
.EmojiPicker.slide-exit {
  height: 350px;
  max-height: 70%;
  position: relative;
}
.EmojiPicker.slide-exit-active,
.EmojiPicker.slide-exit-done {
  height: 0;
}
.EmojiPicker emoji-picker {
  --border-size: 0;
  --num-columns: 10;
  --emoji-size: 1.5rem;
  --category-emoji-size: 1rem;
  --indicator-height: 2px;
  --outline-color: rgba(30,96,225,0.5);
  --input-padding: 0.5rem 0.75rem;
  width: 100%;
  border: 0;
  height: 349px;
}
.EmojiPicker emoji-picker.small {
  --favorites-display: none;
}
.EmojiPicker.slide-enter-done emoji-picker {
  max-height: 100%;
}
.EmojiPickerLoading {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #fff;
  color: #1e60e1;
}

.LoadingSpinner {
  width: 3rem;
  height: 3rem;
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -o-animation-name: spin;
  -ms-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -moz-animation-duration: 2000ms;
  -o-animation-duration: 2000ms;
  -ms-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.audio-player {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 1.5rem 1rem;
}
.audio-player .waveform {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  z-index: 0;
}
.audio-player button {
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}
.audio-player .play-pause {
  width: 30px;
  height: 30px;
}
.audio-player .playback-speed {
  width: 4em;
}
.audio-player .up-down {
  width: 1rem;
  height: 1rem;
  margin-top: -2px;
}
.playback-heading {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  padding: 0.5rem 1rem;
}
.playback-checkmark {
  display: inline-block;
  width: 1em;
}

.ReferencedMessage {
  cursor: pointer;
  border-left: solid 2px;
  padding: 0 0.5rem;
  margin: 1rem 1rem 0 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 93%;
}
.ReferencedMessage .senderName {
  font-weight: 600;
  margin-bottom: 2px;
}
.ReferencedMessage .content {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ReferencedMessage .EntityTreeRenderer li {
  display: inline list-item;
  margin-right: 0.5rem;
  margin-left: 0px;
}

.DayMarker {
  display: table;
}
.DayMarker span {
  display: table-cell;
  vertical-align: top;
  width: 1px;
  white-space: nowrap;
  height: 1.3em;
  padding: 0 20px;
}
.DayMarker div.line {
  display: table-cell;
  width: 50%;
  position: relative;
}
.DayMarker div.line hr {
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.DayMarker div.line div.unread-marker {
  display: table;
  height: 28px;
  position: absolute;
  top: 0;
  width: 100%;
}
.DayMarker div.line div.unread-marker div.line {
  width: 100%;
}
.DayMarker div.line div.unread-marker div.line hr {
  margin-right: 5px;
}
.DayMarker div.line div.unread-marker span {
  padding: 3px 10px;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  vertical-align: middle;
  position: relative;
  top: -4px;
}

.MessageList {
  position: relative;
}
.MessageList .show-more {
  text-align: center;
  margin-top: 0;
}
.MessageList .show-more .show-more__text {
  color: inherit;
  font-weight: normal;
  font-style: italic;
}
.MessageList .show-more .show-more__text.loading {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
}
.MessageList .message-transition-container-exit {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.MessageList .message-transition-container-exit-active {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
.MessageList .transition-group > .canHide {
  content-visibility: auto;
  contain-intrinsic-block-size: 100px;
}
.MessageList ul li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.MessageList ul li:last-child {
  margin-bottom: 0;
}

.SlimProfile {
  position: relative;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.SlimProfile .Avatar,
.SlimProfile .GroupChatIcon {
  float: left;
  margin-right: 10px;
}
.SlimProfile .name {
  padding-top: 4px;
}
.SlimProfile .name:last-child {
  padding-top: 13px;
}
.SlimProfile .name,
.SlimProfile .subject {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.SlimProfile .name {
  font-weight: 700;
}
.SlimProfile .name .you {
  font-weight: normal;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
}
.SlimProfile .Button.close,
.SlimProfile .Button.search-button,
.SlimProfile .Button.back-button {
  width: 44px;
  height: 44px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0.33em;
  margin: -0.33em;
}
.SlimProfile .Button.close,
.SlimProfile .Button.search-button {
  float: right;
  clear: none;
  margin-right: calc(-0.33em - 10px);
}
.SlimProfile .Button + .Button {
  margin-right: -0.33em;
}
.SlimProfile .close {
  text-decoration: none;
  font-size: 37px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  z-index: 5;
  position: relative;
}

.Avatar {
  overflow: hidden;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-style: solid;
  -webkit-box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  position: relative;
  width: 44px;
  height: 44px;
}
.Avatar.float-left {
  float: left;
}
.Avatar.float-right {
  float: right;
}

.Button {
  padding: 0 25px;
  border: 0;
  display: inline-block;
  font-size: 0.9em;
  -webkit-transition: all 0.125s ease-in-out 0s;
  -moz-transition: all 0.125s ease-in-out 0s;
  -o-transition: all 0.125s ease-in-out 0s;
  -ms-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
  border-radius: 3px;
  cursor: pointer;
}
.Button.regular {
  height: 50px;
  color: #fff;
  background-color: #0785f2;
}
.Button.regular:hover {
  background-color: #0777d9;
  color: #fff;
}
.Button.lightweight,
.Button.very-lightweight {
  height: 44px;
  font-size: 1em;
  text-align: center;
  padding: 0.1em 0.5em 0 0.5em;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  background: transparent;
}
.Button.very-lightweight {
  outline: none;
}

.Header {
  min-height: 61px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.GroupChatIcon {
  overflow: hidden;
  position: relative;
  width: 44px;
  height: 44px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.GroupChatIcon > .avatar {
  border-style: solid;
  -webkit-box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e7ecee;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.GroupChatIcon > .avatar + .avatar {
  left: auto;
  right: 0;
  top: 14px;
}
.GroupChatIcon > .counter {
  font-weight: bold;
  position: absolute;
  min-width: 18px;
  min-height: 18px;
  max-width: 22px;
  max-height: 22px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #646464;
}
.GroupChatIcon > .counter > .group {
  border-style: none;
}

.SearchBox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.SearchBox .form {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.SearchBox .search-field {
  display: inline-block;
  padding: 0 0 0 1rem;
}
.SearchBox .search-button {
  padding-left: 10px;
}
.SearchBox .search-field {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-right: 15px;
}
.SearchBox .previous-button,
.SearchBox .next-button {
  padding: 0 0.25rem;
}
.SearchBox .back-button {
  height: auto;
  padding: 0;
}
.SearchBox .back-button svg {
  fill: none;
}

.Input.label-on,
.Input.has-postfix {
  position: relative;
}
.Input label {
  position: absolute;
  top: -10px;
  right: -7px;
  color: #fff;
  font-size: 0.6em;
  font-weight: 100;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.Input label.off {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: -1;
}
.Input label.on {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.Input.bg-light label {
  color: #5b5b5b;
}
.Input .field {
  display: inline-block;
  -webkit-transition: all 0.125s ease-in-out 0s;
  -moz-transition: all 0.125s ease-in-out 0s;
  -o-transition: all 0.125s ease-in-out 0s;
  -ms-transition: all 0.125s ease-in-out 0s;
  transition: all 0.125s ease-in-out 0s;
  width: 100%;
  background-color: #fff;
  border: 1px solid;
  border-radius: 3px;
  color: inherit;
}
.Input .field[type="search"] {
  -webkit-appearance: none;
}
.Input .field[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.Input .field.regular {
  height: 50px;
  padding: 0 20px;
}
.Input .field.lightweight {
  height: 41px;
  padding: 0 10px;
}
.Input .field.transparent {
  height: 30px;
  padding: 0;
}
.Input .field.transparent {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
}
.Input .field.transparent:focus {
  border: 0;
  border-bottom: 1px solid;
}
.Input .field.no-border-bottom {
  border-bottom: 0;
}
.Input .field.no-border-bottom:focus {
  border-bottom: 0;
}
.Input .field[disabled] {
  background-color: rgba(224,224,224,0.5);
}
.Input .field.bg-light {
  color: #5b5b5b;
}
.Input .field.bg-light:focus {
  border-color: #5b5b5b;
}
.Input .field.bg-dark {
  color: #fff;
}
.Input .field.bg-dark:focus {
  border-color: #fff;
}
.Input .field:focus {
  outline-offset: -2px;
  border: 1px solid #0785f2;
}
.Input .field::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.Input .field:-moz-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.Input .field::-moz-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.Input .field:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.Input .postfix {
  position: absolute;
  top: 8.5px;
  right: 20px;
  color: #8a909b;
  -webkit-transition: top 0.125s ease-in-out 0s;
  -moz-transition: top 0.125s ease-in-out 0s;
  -o-transition: top 0.125s ease-in-out 0s;
  -ms-transition: top 0.125s ease-in-out 0s;
  transition: top 0.125s ease-in-out 0s;
}
.Input.invalid .postfix {
  top: 6.5px;
}
.Input.invalid .field {
  border: 3px solid #f00;
  margin: -2px 0 -1px 0;
}
.Input.invalid label {
  color: #f00;
  text-transform: none;
  font-size: 0.75em;
  text-align: right;
  line-height: 1.2;
}

.HtmlPanel {
  position: relative;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.NotFound {
  width: 100%;
  max-width: 420px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.NotFound .Pinboard p {
  padding: 1ex 3ex;
  color: rgba(17,17,17,0.8);
}
.__talkjs_popup .NotFound {
  right: 10px;
}

.Pinboard {
  display: block;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  border-radius: 0.75rem;
  padding: 25px;
  -webkit-font-smoothing: subpixel-antialiased;
  border: 1px solid #d4d4d4;
  overflow-x: hidden;
  font-size: 0.95em;
}
.Pinboard:not(:first-child) {
  margin-top: 10px;
}
.Pinboard small {
  font-size: 80%;
}
.Pinboard h2 {
  font-size: 1.25em;
}
.Pinboard p {
  margin: 8px 0px 15px 0px;
}

.TranslationBox {
  width: 100%;
  margin: 0 auto;
  white-space: normal;
  font-style: italic;
  text-align: center;
  position: relative;
  white-space: pre-wrap;
  padding: 10px 15px;
}
.TranslationBox img {
  height: 1em;
  display: inline;
  vertical-align: middle;
}

.Scrollable {
  overflow-y: auto;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.MountingSpinner {
  visibility: hidden;
  -webkit-animation: mounting-spinner-delay;
  -moz-animation: mounting-spinner-delay;
  -o-animation: mounting-spinner-delay;
  -ms-animation: mounting-spinner-delay;
  animation: mounting-spinner-delay;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-moz-keyframes mounting-spinner-delay {
  to {
    visibility: visible;
  }
}
@-webkit-keyframes mounting-spinner-delay {
  to {
    visibility: visible;
  }
}
@-o-keyframes mounting-spinner-delay {
  to {
    visibility: visible;
  }
}
@keyframes mounting-spinner-delay {
  to {
    visibility: visible;
  }
}

.Panel {
  overflow-x: hidden;
  border-style: solid;
}

.Dropzone {
  height: 100%;
}
.Dropzone .AttachIcon {
  width: 300px;
  height: 300px;
  color: rgba(30,30,30,0.5);
}

.AttachOverlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: rgba(100,100,100,0.5);
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center /* align vertical */;
  align-items: center /* align vertical */;
}

.UploadPreview .preview {
  position: relative;
  border-radius: 1rem;
  max-width: 750px;
  width: 100%;
  display: inline-block;
  overflow: auto;
  padding: 0.5rem;
}
@media screen and (max-width: 500px) {
  .UploadPreview .preview {
    width: 85%;
  }
}
.UploadPreview .preview .img-container {
  text-align: center;
  background-color: rgba(0,0,0,0.1);
}
.UploadPreview .preview img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.UploadPreview .preview video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.UploadPreview .preview .location-upload-preview {
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  padding-bottom: calc((400 / 600) * 100%);
  display: block;
}
.UploadPreview .cancel-row {
  text-align: right;
  position: sticky;
  top: 8px;
  padding-right: 8px;
  z-index: 2;
  margin-bottom: -38px;
}
.UploadPreview .filename-row {
  white-space: pre-wrap;
  word-break: break-all;
  padding: 0.5rem 1rem 0;
}
.UploadPreview .filename-row.is-file {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 250px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.UploadPreview .filename-row .file-block {
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 8px;
  display: inline-block;
}
.UploadPreview .error-row {
  border-width: 0.125rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(254,200,200,0.4);
  border-color: transparent;
  color: #ef4444;
  white-space: normal;
}
.UploadPreview .send-row {
  position: sticky;
  bottom: 0;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.UploadPreview .cancel {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: currentColor;
}
.UploadPreview .confirm-send {
  margin-left: auto;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
.UploadPreview .loading {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #1e60e1;
}

.NoticeBar {
  font-size: 85%;
  line-height: 1.5;
  padding: 0.75rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.NoticeBar .Link {
  color: #007df9;
}
.NoticeBar svg {
  fill: none;
  margin-top: 3px;
}

.OfflineIndicator {
  z-index: 1;
  -webkit-animation-name: Scrolling;
  -moz-animation-name: Scrolling;
  -o-animation-name: Scrolling;
  -ms-animation-name: Scrolling;
  animation-name: Scrolling;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-moz-keyframes Scrolling {
  20% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -200%;
  }
}
@-webkit-keyframes Scrolling {
  20% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -200%;
  }
}
@-o-keyframes Scrolling {
  20% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -200%;
  }
}
@keyframes Scrolling {
  20% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -200%;
  }
}

.status-indicator {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
}
.status-indicator.status-online {
  background-color: #22c55e;
}
.status-indicator.status-offline {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(50,50,50,0.4);
  box-shadow: inset 0 0 0 1px rgba(50,50,50,0.4);
}

.conversation-menu {
  right: 0;
  left: auto;
  padding: 0.5rem;
}
.conversation-menu:before {
  left: calc(var(--popoverArrowX) - 1px);
  bottom: 100%;
  top: -1px;
  border-top: inherit;
  border-left: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  background-color: inherit;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg) translate(-50%);
  -moz-transform: rotate(45deg) translate(-50%);
  -o-transform: rotate(45deg) translate(-50%);
  -ms-transform: rotate(45deg) translate(-50%);
  transform: rotate(45deg) translate(-50%);
  content: "";
  display: inline-block;
  position: absolute;
}

.Hub {
  position: relative;
  height: 100%;
}
.Hub>.tokenRefreshFailed {
  filter: blur(0.1rem) contrast(25%) brightness(150%);
}
.Hub .Panel {
  max-height: 100%;
  overflow-y: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Hub .Panel.items-panel {
  padding: 0;
}
.Hub .PinboardItem.centered {
  font-style: italic;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Hub .MountingSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
@media all and (max-width: 640px) {
  .mobile-prefer-hub .Hub .MountingSpinner {
    display: block;
  }
}
@media all and (max-width: 640px) {
  .NotificationsBox {
    display: none;
  }
}

.HubChatItem {
  text-decoration: none;
  border: 0;
  display: block;
  width: 100%;
}
.HubChatItem>.PinboardItem {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.HubChatItem>.PinboardItem .Avatar,
.HubChatItem>.PinboardItem .GroupChatIcon {
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.HubChatItem>.PinboardItem > .inner {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  overflow: hidden;
}
.HubChatItem>.PinboardItem > .inner > .header,
.HubChatItem>.PinboardItem > .inner > .body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.HubChatItem>.PinboardItem > .inner .name,
.HubChatItem>.PinboardItem > .inner .message {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.HubChatItem>.PinboardItem > .inner .ts,
.HubChatItem>.PinboardItem > .inner .UnreadConversationDot {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: 8px;
}
.HubChatItem>.PinboardItem .name {
  font-weight: 700;
}
.HubChatItem>.PinboardItem .name .you {
  font-weight: normal;
}
.HubChatItem>.PinboardItem .name,
.HubChatItem>.PinboardItem .message {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.HubChatItem>.PinboardItem .message svg {
  height: 16px;
  vertical-align: text-top;
  padding-right: 3px;
  margin-left: -3px;
}
.HubChatItem.active>.PinboardItem {
  background-position: 10px 8px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.HubChatItem.active>.PinboardItem .UnreadConversationDot {
  background-color: currentColor;
}
.HubChatItem:last-child > .PinboardItem {
  border-bottom: none;
}

.PinboardItem {
  padding: 12px 10px 12px 10px;
  min-height: 67px;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  -ms-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  overflow: auto;
}

.UnreadConversationDot {
  padding: 0.7ex;
  -webkit-transform: scale(0.999);
  -moz-transform: scale(0.999);
  -o-transform: scale(0.999);
  -ms-transform: scale(0.999);
  transform: scale(0.999);
  border-radius: 50%;
}

.NotificationsBox {
  position: relative;
}
.NotificationsBox .box {
  height: 44px;
  padding-top: 7px;
}
.NotificationsBox span {
  display: inline-block;
  float: left;
  padding-top: 7px;
  font-style: italic;
}
.NotificationsBox .cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.NotificationsBox .cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
}
.NotificationsBox input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 65px;
  height: 30px;
  margin-right: 10px;
  background-color: #ddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
.NotificationsBox input.cmn-toggle-round-flat + label:before,
.NotificationsBox input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.NotificationsBox input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
.NotificationsBox input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #ddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  -ms-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.NotificationsBox input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 35px;
}

.ReadonlyMessageList {
  margin: 0 auto;
  width: 100%;
  max-width: 740px;
  height: 100%;
  overflow-y: scroll;
}

.Ojee {
  width: 100%;
  max-width: 420px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.Ojee .Pinboard p {
  padding: 1ex 3ex;
  color: #888;
}
.Ojee .Pinboard h1 {
  font-size: 200%;
  font-style: bold;
  margin: 15px;
}
.Ojee .Pinboard img {
  width: 100%;
  padding: 15px;
}
.__talkjs_popup .Ojee {
  right: 10px;
}

